commentjson>=0.9.0
h5py>=2.10.0
imutils>=0.5.3
joblib>=1.0.0
Keras>=2.4.3
mahotas>=1.4.11
numpy>=1.19.2
progressbar2>=3.53.1
scikit-learn>=0.24.0
scipy>=1.5.4
future
opencv-python>=4.2
future
psutil
tensorflow>=2.4
imageio>=2.9.0
tqdm-joblib # progress bar with like tqdm for joblib
